.years-rankings-games-container{
  height: 100%;
  width: 100%;
  background-color: #000229b3;
  overflow-y: scroll;
}

.years-rankings-games-container::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #000229bc;
}

.years-rankings-games-container::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 4px;
}

.Ranking-game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 24vh;
  background-color: #fff;
  margin-bottom: 1%;
  border-radius: 9px;
}

.Ranking-game-container:nth-child(1) {
  margin-top: 1%;
}

.Rankings-game-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 86%;
}

.Rankings-game-info-details-container{
  height: 64%;
  max-width: 80%;
  color: #000229;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
  padding-left: 1%;
}

.Rankings-game-info-details-container:nth-child(1){
  padding-top: 1%;
}

.Rankings-game-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: blueviolet;
  color: #fff;
  font-size: 6vh;
  border-radius: 9px;
  height: 70%;
  width: 13%;
  margin: 2% 1.5% 2% 1%;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
}

.rankings-image {
  height: 98%;
  width: 14%;
  border: 3px solid #000;
  margin-left: 0.8%;
}

.Rankings-game-title {
  height: 35%;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center;
  background-color: #000229;
  color: #00F3FF;
  border-bottom-right-radius: 50px;
  padding-left: 1%;
  font-size: x-large;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
}

.ratings-name-txt{
  color: #000229;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
}