.App {
  display: flex;
  flex-direction: column;
  height: 906px;
  background-color: #001b51;
  justify-content: center;
}

.search-header-container {
  width: 100%;
  display: flex;
  height: 10%;
}

.releases-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.header-container {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  background-color: #01012B;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  background-color: #01012b;
  margin: 0;
  width: 35%;
  height: 100px;
}

.expand {
  display: flex;
  flex-direction: column;
  background-color: #01012b;
  margin: 0;
  width: 40%;
  height: max-content;
  position: fixed;
  left: 65%;
}

.tittle {
  color: #00F3FF;
  margin-left: 2%;
  width: 200px;
  margin: 0;
}

.search-button {
  width: 45px;
  height: 55px;
  padding: 0;
  margin: 0;
  border: 5px #00F3FF solid;
  color: #00F3FF;
  background-color: #01012B;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.options-button {
  background-color: #1F3154;
  color: #0BFF6C;
  border: none;
  border-radius: 15px;
  height: 60px;
  padding: 0;
  width: 30%;
  font-size: x-large;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search {
  width: 20px;
  height: 20px;
}

.searchi {
  height: 45px;
  width: 80%;
  margin: 0;
  padding: 0;
  border: 5px #00F3FF solid;
  background-color: #01012b;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  color: #00F3FF;
  padding-left: 10px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #01012b;
  border: 0;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
}

.options {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 10%;
}

.options-buttons {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.LogIn {
  background: none;
  border: none;
}

.platform {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px #00F3FF solid;
  background-color: #01012B;
  padding: 5px;
}

.platform-img {
  width: 100px;
  height: 100px;
}

.find-games-container {
  color: #00F3FF;
  list-style: none;
  padding: 0;
  margin: 0 0 0 10%;
}

.hide {
  display: none;
}