.Categorie-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.miDiv {
  width: 100%;
  height: 100%;
  background-color: brown;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
  transform: rotate(-10deg) scale(1.5);
}

.div-item{
  width: 35%;
  height: 100%;
  background-color: coral;
  background-repeat: no-repeat;
  background-size:cover;
}
