.Rankings-games-container{
  height: 100%;
  width: 100%;
  background-color: #63167d;
  overflow-y: scroll;
}

.top-container {
  height: 100%;
}

.Ranking {
  width: 40%;
  height: 100%;
}

.top-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #01012b;
  color: #00f3ff;
  margin: 0;
  height: 10%;
  text-align: center;
  border: 5px #00f3ff solid;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-size: 3.5vh;
}

.list-top-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border-width: 0 5px 0 5px;
  border-style: solid;
  border-color: #00f3ff;
  height: 90%;
  gap: 2%;
  background-color: #001b51d1;
  overflow-y: scroll;
  padding-right: 1%;
}

.list-top-container::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #000229bc;
}

.list-top-container::-webkit-scrollbar-thumb {
  width: 8px;
  height: 20%;
  background-color: #fff;
  border-radius: 4px;
}

.top-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 30%;
  padding: 0 1% 0 1%;
  background-color: #01012b;
}

.top-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: #001b51;
  width: 100%;
  border-bottom-right-radius: 100px;
}

.list-item {
  padding: 0;
  margin: 0;
  color: #6398ff;
  font-size: 2.7vh;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  text-align: start;
}

.top-info-container {
  width: 74%;
  height: 100%;
  padding-left: 1%;
}

.game-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 90%;
  padding: 0;
  margin: 0;
  font-size: larger;
}

.list-item-r {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8633f0;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 6vh;
  font-family: "Paytone One", sans-serif;
  border-radius: 5px;
}

.top-image {
  height: 95%;
  width: 11%;
}

.game-date {
  color: #fff;
  font-family: "Paytone One", sans-serif;
  font-size: 2vh;
  text-align: start;
  padding-top: 2%;
}
