.game-details-container-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-details-containerd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-details-containerd-blur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #11189375;
}

.game-container {
  width: 90%;
  height: 95%;
  background-color: #00278a87;
  border-radius: 20px;
  text-align: center;
}

.game-details-img-container {
  position: relative;
}

.game-details-videos-container {
  position: relative;
}

.game-details-img {
  height: 20vh;
  width: 18vw;
  position: absolute;
  left: 0;
}
