.releases-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.releases-title {
  color: #00f3ff;
  margin: 0;
  text-align: center;
  font-size: 45px;
  border: 5px #00f3ff solid;
  background-color: #01012b;
  font-family: "Paytone One", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.releases {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.release-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 300px;
  border-radius: 10px;
  background-color: #00f3ff;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  gap: 2%;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #01012b;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.game-image {
  width: 95%;
  height: 95%;
}

.new {
  width: 100%;
  height: 50px;
  background-color: #01012b;
  color: #00f3ff;
  text-align: center;
  margin: 0;
}
