.Reviews-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 10%;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  background-color: #001b51;
}

.search-game-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.input-game-review::placeholder {
  font-size: medium;
  color: #00f3ff;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
  opacity: 0.5;
}

.search-game-title {
  height: 80%;
  width: 20%;
  background-color: #01012b;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-games-found-expanded {
  position: absolute;
  top: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  background-color: #001b51;
}

.hide {
  display: none;
}

.input-container-tittle-button {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
}


.input-button-container {
  height: 100%;
  width: 75%;
  border: 3px #00f3ff solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.games-found-container-li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 2%;
}

.games-found-name {
  color: #fff;
  padding: 0;
  border: none;
}

.input-game-review {
  height: 70%;
  width: 90%;
  padding: 0;
  margin: 0;
  background-color: #01012b;
  border: none;
  color: #00f3ff;
}

.input-game-button {
  height: 100%;
  width: 9%;
  padding: 0;
  margin: 0;
  border-width: 0 0 0 3px;
  /* top right bottom left */
  border-style: solid;
  border-color: #00f3ff;
  background-color: #01012b;
}

.options-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 80%;
  height: 100%;
}

.options-buttons-container>button:nth-child(2) {
  background-color: #070941;
}

.options-button {
  background-color: #01012b;
  color: #0bffa7;
  border: none;
  border-radius: 5px;
  padding: 0;
  height: 7vh;
  width: 90%;
  font-size: 3vh;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
}

.options {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 10%;
}

.LogIn {
  background: none;
  border: none;
}

.Reviews-Container {
  height: 90%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-review-container {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #01012b;
}

.last-reviewed-container {
  height: 100%;
  width: 35%;
  background-color: #01012b;
  color: #fff;
}

.search-game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #01012b;
  padding-top: 1.5%;
}

.game-info-container {
  height: 85%;
  width: 96.5%;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  background-color: #fff;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-review-info {
  background-color: #fff;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-review-title {
  height: 25%;
  width: 100%;
  background-color: #fff;
  color: #01012b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 1% 0;
  margin: 0 0 1% 0;
  font-family: "Paytone One", sans-serif;
  font-weight: 300;
}

.game-rating-container {
  background-color: #fff;
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-review-separator {
  width: 10%;
  height: 100%;
  background-color: #fff;
}

.game-review-rating {
  height: 100%;
  width: 45%;
  background-color: #01012b;
  color: #fff;
  text-align: center;
}

.game-rating-container .game-review-rating:nth-child(1) {
  border-top-left-radius: 9px;
}

.game-rating-container .game-review-rating:nth-child(3) {
  border-top-right-radius: 9px;
}

.game-review-rating-container {
  height: 35%;
  width: 96%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-extra-info {
  height: 60%;
  width: 96%;
  background-color: #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.game-review-extra-title {
  height: 15%;
  width: 100%;
  background-color: #fff;
  color: #01012b;
}

.game-caratule {
  height: 47%;
  width: 86%;
  background-color: #01012b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.game-caregory {
  height: 4%;
  width: 90%;
  background-color: #fff;
  color: #001b51;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Paytone One", sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  border: none;
  font-size: x-large;
}

.game-info-details {
  height: 46%;
  width: 85%;
  background-color: #01012b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.game-info-car {
  height: 100%;
  width: 95%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: #000 5px solid;
}

.game-info-tittle {
  margin: 1% 0 0 2%;
  color: #00f3ff;
  font-size: large;
}

.game-genres-container {
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: start;
}

.game-info-txt {
  margin: 0;
  color: #fff;
  font-size: small;
  margin: 0 0 0 2%;
}

.game-review-extra-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #01012b;
  font-family: "Paytone One", sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

.game-extra-media-container {
  height: 86%;
  width: 100%;
  background-color: #01012b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-extra-video-container {
  height: 10%;
  width: 90%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-video-container {
  display: none;
}

.game-info-video {
  display: none;
  height: 1%;
  width: 1%;
}

.game-extra-image-container {
  height: 10%;
  width: 90%;
  background-color: #d0cdcd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-extre-images-cont {
  display: none;
}

.game-extre-img {
  height: 90%;
  width: 80%;
}

.game-extra-dlc-container {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.game-dlc-container {
  display: none;
}

.last-reviewed-title {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: "K2D", sans-serif;
  font-weight: 600;
  background-color: #fff;
  color: #001b51;
  margin-top: 4%;
}

.last-reviewed-game-container {
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-number-container {
  height: 68%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9%;
  background-color: #0bffa7;
  border-radius: 5px;
  border: 5px solid #000;
}

.rating-number {
  height: 55%;
  width: 40%;
  background-color: #8633f0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rating-txt {
  font-size: x-large;
  color: #8633f0;
  font-weight: 200;
  font-family: "Paytone One", sans-serif;
}

.rating-txt-2 {
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
}

.last-reviewed-game-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "K2D", sans-serif;
  font-weight: 400;
  color: #fff;
  background: none;
  position: absolute;
  z-index: 100;
}

.last-game-container {
  height: 25%;
  width: 98%;
  border-right: 0.4vw #fff solid;
  border-left: 0.4vw #fff solid;
  position: relative;
}

.last-reviewed-game-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #001b51;
  z-index: 90;
  opacity: 0.9;
}

.last-reviewed-game-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 80;
}
